# ignore 
node_modules
docs
tests
src
images
bump.sh

# ignore config files
.editorconfig
tdconfig.json
tsconfig.json
tslint.json
webpack.config.js
.circleci
Dockerfile
.prettierrc.json

# ignore lock files
package-lock.json
yarn.lock

# ignore es5 and UMD module  builds for now
lib
_bundles
